server/*
classes/*
dist/*
*~
.DS_Store
.centers.seq.crc
.classpath
.clusters.seq.crc
.metadata/*
.names.txt.crc
.project
.settings/*
.subjects.seq.crc
out*/*
clustering/*
clustering/**/*
server
hadoop-0.20.0/*
lib/*
k-means-temp/*
