server
privat
classes
dist
hadoop-0.19.1
*~
.DS_Store
.centers.seq.crc
.classpath
.clusters.seq.crc
.metadata/*
.names.txt.crc
.project
.settings/*
.subjects.seq.crc
out*/*
clustering/*
clustering/**/*