 <configuration>
 
   <property>
     <name>run.local</name>
     <value>false</value>
     <description>Don't use distributed Cache</description>
   </property>

   <property>
     <name>subject.length</name>
     <value>42644</value>
    <description>number of attributes</description>
   </property>
 </configuration>
